<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uw.kalee12.chromatic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreatePaletteActivity"
            android:label="@string/title_activity_create_palette"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetPaletteInfoActivity"
            android:label="@string/title_activity_set_palette_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewItemActivity"
            android:label="@string/title_activity_view_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateMoodBoardActivity"
            android:label="@string/title_activity_create_mood_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetMBInfoActivity"
            android:label="@string/title_activity_set_mbinfo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQ78fhq74O_weuzhfjDW44c7nn4HPL-50"/>
    </application>

</manifest>